In [7]:
import pandas as pd

#Leitura dos arquivos
df1 = pd.read_excel('datasets\Aracaju.xlsx')
df2 = pd.read_excel('datasets\Fortaleza.xlsx')
df3 = pd.read_excel('datasets\\Natal.xlsx')
df4 = pd.read_excel('datasets\Recife.xlsx')
df5 = pd.read_excel('datasets\Salvador.xlsx')

df = pd.concat([df1,df2,df3,df4,df5])
#Transformando a coluna de data em tipo inteiro
df['Data'] = df['Data'].astype('int64')
#Transformando a coluna data para tipo data
df['Data'] = pd.to_datetime(df['Data'])

df['Receita'] = df['Vendas'].mul(df['Qtde'])

#Agrupando por ano
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [8]:
#Criando uma nova coluna com o ano
df['Ano_Venda'] = df['Data'].dt.year
#Extraindo o mês e o dia
df['Dia_venda'],df['Mes_venda'] = df['Data'].dt.day, df['Data'].dt.month

df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Dia_venda,Mes_venda
191,Natal,2019-01-02,173.59,1034,2,347.18,2019,2,1
22,Recife,2019-01-01,39.53,983,3,118.59,2019,1,1
89,Salvador,2019-01-01,17.46,1034,1,17.46,2019,1,1
213,Salvador,2019-01-02,42.12,1035,1,42.12,2019,2,1
225,Natal,2019-01-02,36.23,1035,1,36.23,2019,2,1

In [9]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [10]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Dia_venda,Mes_venda,diferenca_dias
9,Aracaju,2019-01-01,149.36,1523,3,448.08,2019,1,1,365 days
28,Recife,2019-01-01,123.69,983,3,371.07,2019,1,1,365 days
63,Fortaleza,2019-01-01,118.17,1004,1,118.17,2019,1,1,365 days
63,Aracaju,2018-01-01,39.87,1522,5,199.35,2018,1,1,0 days
13,Recife,2019-02-12,15.33,983,5,76.65,2019,12,2,407 days

In [11]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Dia_venda,Mes_venda,diferenca_dias,trimestre_venda
232,Natal,2019-01-03,167.76,1034,3,503.28,2019,3,1,367 days,1
15,Natal,2018-02-01,432.00,854,3,1296.00,2018,1,2,31 days,1
83,Aracaju,2018-01-01,14.44,1520,5,72.20,2018,1,1,0 days,1
108,Salvador,2019-03-02,11.72,1037,1,11.72,2019,2,3,425 days,1
38,Aracaju,2018-01-01,142.46,1520,1,142.46,2018,1,1,0 days,1

In [13]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]
vendas_marco_19.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Dia_venda,Mes_venda,diferenca_dias,trimestre_venda
112,Fortaleza,2019-03-02,133.59,982,1,133.59,2019,2,3,425 days,1
134,Fortaleza,2019-03-02,195.18,980,5,975.90,2019,2,3,425 days,1
111,Fortaleza,2019-03-02,8.00,981,3,24.00,2019,2,3,425 days,1
137,Fortaleza,2019-03-02,51.99,983,3,155.97,2019,2,3,425 days,1
138,Salvador,2019-03-02,212.03,1037,3,636.09,2019,2,3,425 days,1